@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

#header {
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 152px;
    top: -39px;

    
}

body {
  background-color: #3B0944;
  background: url(the-wide-sky.gif);
  background-size: cover;
  width: 1440px;
  height: 1200px;

}


h1 {
    position: absolute;
    width: 787px;
    height: 57px;
    left: calc(50% - 787px/2 - 28.5px);
    top: 79px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: #F1BBD5;
    margin-top: 10px;
    margin-bottom: 1px;

    
}


#p1 {
    position: absolute;
    width: 506px;
    height: 72px;
    left: calc(50% - 506px/2 - 28px);
    top: 157px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 140.62%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: -5px;
    color: white;

}

#btn-start {
    position: absolute;
    width: 240px;
    height: 60px;
    left: calc(50% - 240px/2 - 28px);
    top: 243px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, rgb(241, 187, 213), rgb(255, 158, 205));
    border: 1px solid #3B0944;
    box-sizing: border-box;
    border-radius: 5px;
    color:black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}

main {
    position: absolute;
    width: 1440px;
    height: 600px;
    left: 123px;
    top: 234px;    
    
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    /* text-align: center; */
}


#h2 {
    position: absolute;
    left: 16.11%;
    right: 67.15%;
    top: 23.83%;
    bottom: 71.33%;
    width: 400px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 30px;
    /* line-height: 140.62%; */
    color: #F1BBD5;
    visibility: hidden;

}

#p2 {

    position: absolute;
    left: 16.32%;
    right: 54.38%;
    top: 32.67%;
    bottom: 55.33%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 140.62%;
    color: white;
    visibility: hidden;

    
}

media {
    position: absolute;
    left: 53.4%;
    right: 13.26%;
    top: 20%;
    bottom: 20%;
    background: #F9F0E1;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;

    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

img {
    width: 450px;
    max-height: 350px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

#btn-feed {
  visibility: hidden;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 470px;
    top: 783px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: linear-gradient(to bottom, rgb(187, 47, 166), rgb(95, 24, 84));
    border: 1px solid #3B0944;
    box-sizing: border-box;
    border-radius: 5px;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btn-play {
  visibility: hidden;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 743px;
    top: 783px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: #694F3B;
    background: linear-gradient(to bottom, rgb(161, 37, 89), rgb(73, 18, 65));
    border: 1px solid #3B0944;
    box-sizing: border-box;
    border-radius: 5px;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

#btn-lights {
  visibility: hidden;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 1016px;
    top: 783px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: linear-gradient(to bottom, rgb(206, 47, 113), rgb(130, 0, 104));
    border: 1px solid #3B0944;
    box-sizing: border-box;
    border-radius: 5px;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sleep-bar {

    position: absolute;
    left: 16.11%;
    right: 54.38%;
    top: 70.83%;
    
    }
    
    .sleep-bar {
        margin: 1rem;
        overflow: hidden;
      }
      .sleep-bar div {
        height: 20px;
        animation: roundtime calc(var(--duration) * 3.5s) steps(var(--duration))
          forwards;
        transform-origin: left center;
        background: linear-gradient(to bottom, rgb(206, 47, 113), rgb(130, 0, 104));
        border-radius: 5px;

    }
      
      .sleep-bar[data-style="smooth"] div {
        animation: roundtime calc(var(--duration) * 3.5s) linear forwards;
      }
      
      .sleep-bar[data-style="fixed"] div {
        width: calc(var(--duration) * 5%);
      }
      

      
      
      @keyframes roundtime {
        to {
          /* More performant than `width` */
          transform: scaleX(0);
        }
      }

.feed-bar {

position: absolute;
left: 16.11%;
right: 54.38%;
top: 50.83%;

}

.feed-bar {
    margin: 1rem;
    overflow: hidden;
  }
  .feed-bar div {
    height: 20px;
    animation: roundtime calc(var(--duration) * 1.5s) steps(var(--duration))
      forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, rgb(187, 47, 166), rgb(95, 24, 84));
    border-radius: 5px;

  }
  
  .feed-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1.5s) linear forwards;
  }
  
  .feed-bar[data-style="fixed"] div {
    width: calc(var(--duration) * 5%);
  }
  
  .feed-bar[data-color="blue"] div {
    background: linear-gradient(to bottom, #64b5f6, #1565c0);
    border-radius: 5px;


  }
  
  @keyframes roundtime {
    to {
      transform: scaleX(0);
    }
  }

  

      
.play-bar {

    position: absolute;
    left: 16.11%;
    right: 54.38%;
    top: 60.83%;
    
    }

    .play-bar {
        margin: 1rem;
        overflow: hidden;
      }
      .play-bar div {
        height: 20px;
        animation: roundtime calc(var(--duration) * 2s) steps(var(--duration))
          forwards;
        transform-origin: left center;
        background: linear-gradient(to bottom, rgb(161, 37, 89), rgb(73, 18, 65));
        border-radius: 5px;

      } 
      
      .play-bar[data-style="smooth"] div {
        animation: roundtime calc(var(--duration) * 2s) linear forwards;
      } 


      
      @keyframes roundtime {
        to {
          transform: scaleX(0);
        }
      }

.blink {
  animation: blink 1s steps(1, end) infinite;

}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}

#hunger-p {
position: absolute;
width: 96px;
height: 39px;
left: 353px;
top: 550px;

}

/* hides the health bars */

#hide {
  visibility: hidden;
}

#hide2 {
  visibility: hidden;
}

#hide3 {
  visibility: hidden;
}

#age {
position: absolute;
width: 787px;
height: 57px;
left: calc(50% - 700px/2 + 269px);
top: -35px;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 56px;

display: flex;
align-items: center;
text-align: center;

color: black;
}

#alert {
  position: absolute;

  top: 280px;
  left: calc(50% - 745px/2 + 269px);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 56px;
  
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
  
  color: black;
  }

  #cat-name {
    position: absolute;
    width: 300px;
    height: 60px;
    left: 450px;
    top: 420px;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color:white;

  }

  #name-input {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 500px;
    top: 500px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    background:  #3B0944;
    box-sizing: border-box;
    border-color: white;
    border-radius: 5px;
    color:white;
    filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));

  }